<nav class=" container navbar navbar-expand-lg navbar-light bg-light fixed-top" >
    <div class="collapse navbar-collapse  justify-content-center" id="navbarSupportedContent">
      <form class="form-inline my-2 mr-3 my-lg-0">
        <label class="mr-3">Legajo:</label>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <label class="mr-3">Nombre:</label>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
   
        <a style="margin-left:30px; text-decoration-line: underline; " href="#">MEJOR ALUMNO</a>
  
    </div>
  </nav>